<title>
    <%= title %>
</title>

<link rel="stylesheet" href="/css/user_profile.css">

<% if(user.id==profile_user.id){ %>

    <div class="update-form">

        <form action="http://localhost:8000/users/update/<%= profile_user.id %>" method="post" id="form">

            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>

            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
            <input type="submit" name="Update" value="Update" id="submit-btn">

            <p>
                Joined: <%= profile_user.createdAt %>
            </p>
        </form>
    </div>


    <% }else{ %>

        <h1>
            <%= profile_user.name %>'s Profile
        </h1>

        <p>Email: <%= profile_user.email %>
        </p>
        <p>ID: <%= profile_user.id %>
        </p>
        <p>Joined: <%= profile_user.createdAt %>
        </p>

        <% } %>